{% extends 'base.html' %}

{% block content %}
    <div class="row mb-5 justify-content-center">
        <div class="col-4 text-center">
            <h1> Connexion au compte </h1>
        </div>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="col-4">
            <form action="{% url 'login' %}" method="post" id="formLogin">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="inputUsername" class="form-label"> Nom d'utilisateur </label>
                    <input type="text" class="form-control" id="inputUsername" name="username">
                </div>
                <div class="mb-5">
                    <label for="inputPassword" class="form-label"> Mot de passe </label>
                    <input type="password" class="form-control" id="inputPassword" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </form>
        </div>
    </div>
{% endblock %}